h3{
    font-size: 35px;
    background: -webkit-linear-gradient(gold, green, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-color:papayawhip;
}
#first{
    text-align: center;
    margin-top: 180px;
}
#text{
    text-align: center;
    line-height: 25px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15x;
    color:black;
}
.live{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#r{
    border:1px solid red;
    background-color: red;
    margin-right: 550px;
    margin-left: 550px;
    margin-top: 150px;
    width: 200px;
    height: 80px;
}